/Users/premsundar/Downloads/DA/cyclist/Datasets/apr 25.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/aug 25.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/dec 25.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/feb 25.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/jan 26.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/jul 25.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/jun 25.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/march 25.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/may 25.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/nov 25.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/oct 25.csv
/Users/premsundar/Downloads/DA/cyclist/Datasets/sep 25 .csv
master.csv
.gitignore
GEMINI.md 
context.md 